body, html{
	height: 100%;
}

.navbar {
	margin-bottom:0;
	border-radius:0;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.jumbotron {
	background-image: url(bg-dark.jpg);
}

.home-name {
	color: white;
}

.icon-personal {
	height: 15vh;
}

.icon-certs {
	height: 10vh;
}

.img-school {
	height: 40vh;
}

.container-bg {
	background: #131313;
	color: #f2f2f2;
}